*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

html {
    font-family:'Roboto', Helvetica, sans-serif;
    font-weight:400;
    color: black; 
    font-size:1rem; 
    font-style:normal;
    line-height:1.4em;   
    
 }
header{ 
  background-color: #F8F4E3;
}
.italic{ 
 font-style: italic; 
}
.bold{ 
  font-weight: bold;
}
a:hover .bold{ 
  color: #DA9D95;
}
.center{ 
  text-align: center;
}

dl{ 
  margin-top: 1rem;
}
dd{ 
  margin-bottom: 1rem;
}
h1 {
  color: #49558A;
  font-size: 1.8rem;  
  font-weight: 500;
  line-height: 3rem; 
  margin-bottom: .5rem;
  margin-top: 1.5rem;
  margin-left: .6rem;
 
} 
h2,h3{
  color:black;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 2rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    margin-left: .5rem;
}
main{
  max-width: 46rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: white;
}
p{ 
line-height: 1.5rem;
margin-left: .6rem;
margin-right: .6rem;
}

nav ul { 
  text-align: center;
  justify-content: center;
  background-color:#F8F4E3 ;
  padding-top: .5rem;
  padding-bottom: .5rem;
  list-style: none;
  display: flex; 
  flex-flow: column;
}

nav a{ 
  color: #E5AE5E;
}
nav a:hover{
  font-weight: 800;
  border: 4px transparent #49558A;
}

ul{ 
  line-height: 1.5rem;
}
hr{ 
  color: #EDCF8E ;
  background-color: #EDCF8E;
  height: 5px;
  margin-top: 2rem;
  margin-bottom: .8rem;
}
video{ 
  width: 100%;
  padding: .5rem;
  margin-left: auto;
  margin-right: auto;
}

a{ 
  color: black;
}
 

a:link{ 
  text-decoration: none;
  color: black;
}

a:hover{ 
color: #49558A;
}
a:hover img{ 
  filter:brightness(100%)
}
a:hover h3{
  font-weight: bold;
}

article{ 
  text-align: center;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
a.bbcasestudy article p{ 
color: black;
text-decoration: none;
}
a.bbcasestudy article h3{ 
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: .5rem;
  text-align: center;
}

a.bbcasestudy article img{ 
  width: 100%;
}

a.bbcasestudy article h2,p{ 
margin-top: 1rem;
margin-bottom: 1rem;
}

.resume{ 
margin-top: 2rem;
margin-left: auto;
margin-right: auto;
}

.me{ 
  width: 100%; 
}
.mewide{
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
width: auto;
}
.bio{ 
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.projecthr hr{ 
  margin-top: .5rem;
  margin-bottom: 1.5rem;
}
.homepagep h1{ 
 margin-left: .8rem; 
 color:#49558A;
 animation: slideright 1.5s linear;
    animation-name: slideright;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: normal;
}

.homepagep h2{ 
  margin-left: .8rem; 
  color:#DA9D95;
}
.homepagep p{ 
  margin-left: .6rem;
}

a.bbcasestudy article img{ 
  width: 100%;
} 

.pinktext h1{ 
  color:#49558A;
}

.pinktext h2{ 
 color: #49558a; 
}
.pinktext h3{ 
  color: #49558a;
  margin-left: .5rem;
}

.mecircle{ 
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}
.bblogo{ 
  border:1px solid black;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}


.list ul{ 
  margin-left:1.5rem;
}
.embedsocial-instagram{ 
width: 90%;
margin-left: auto;
margin-right:auto
}
.center{ 
  text-align: center;

}
.icon{ 
max-width: 6.5rem;
display: flex;
margin-left: .6rem;
box-sizing: border-box;

}
.newestarticle img{ 
  border:1px solid black;
  margin-top: 0rem;
  margin-bottom: 0rem;
  filter: brightness(75%)
}
.newestarticle h3{
  font-size: .9rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-weight: normal;
  padding:.3rem;
  line-height:1.2em ;
}
.newestarticle article{
  border:1px solid black ;
  color: black;
  text-decoration: none;
  margin-top: .2rem;
  text-align: center;
 margin-left: auto;
 margin-right: auto;
 width: 100%;
}
.button{ 
  background-color: #F8F4E3;
  border: 1px solid #F8F4E3;
  font-size: 1.2rem;
  padding: .5rem;
  font-family:'Roboto', Helvetica, sans-serif;
  font-weight:700;
  margin-top: 1.5rem;
  border-radius: 6px;
width: 170px;
justify-content: center;
text-align: center;
margin-left:auto;
margin-right: auto;
}
.button a{ 
  color: #E5AE5E;
}
.button a:hover{ 
  color: #49558A;
}
.mebutton{ 
  background-color: #F8F4E3;
  border: 1px solid #F8F4E3;
  font-size: 1.2rem;
  padding: .5rem;
  font-family:'Roboto', Helvetica, sans-serif;
  font-weight:700;
  border-radius: 6px;
width: 300px;
justify-content: center;
text-align: center;
margin-left:auto;
margin-right: auto;
}
.mebutton a{
  color: #E5AE5E;
}
.mebutton a:hover{ 
  color: #49558a;
}
.aboutbutton{ 
  background-color: #F8F4E3;
  border: 1px solid #F8F4E3;
  font-size: 1.5rem;
  padding: .7rem;
  font-family:'Roboto', Helvetica, sans-serif;
  font-weight:700;
  border-radius: 6px;
width: 250px;
justify-content: center;
text-align: center;
margin-left:auto;
margin-right: auto;
margin-bottom: 3rem;
}
.aboutbutton a{
  color: #E5AE5E;
}
.aboutbutton a:hover{ 
  color: #49558a;
}
.reviews{ 
 background-color: #F8F4E3; 
 padding:.3rem;
 margin-top: 1rem;
 margin-bottom: 1rem;
}


.recentprojects h2{ 
  color: #49558A;
  margin-top: 2.5rem;
}
.email{ 
  max-width:18%;
  margin-left: auto;
  margin-right: auto;
}
.gif{ 
  width:80%;
  margin-left: auto;
  margin-right: auto;
}
.grid{ 
  display: grid;
}


img { 
width: 100%;
display: block;
margin-top: 1rem;
margin-bottom: 1rem;
}

header img { 
  max-height: 5rem;  
  background-color: #F8F4E3;
  margin-top: 0rem;
  margin-bottom: -.5rem;
}
footer{ 
  color: #49558A;
  background-color:#F8F4E3;
  margin-top: 1rem;
  padding-top: .5rem;
  padding-left: .5rem;
  padding-bottom: 3rem;
}
footer img{ 
  margin-top: auto;
  margin-bottom: auto;
}
footer p{ 
  margin-left: 1rem;
}


@media screen and (min-width: 45rem) {
  html { 
    font-size: 1.1rem;
  }
 nav ul{ 
   flex-flow: row;
}
nav a{ 
  padding-top: .5rem;
  padding-bottom:.5em;
  padding-left: 3rem;
  padding-right: 3rem;
}
video{ 
flex-flow: row;
margin-left: auto;
margin-right: auto;
}
.oneimage{ 
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.me{ 
  width: 48%;
  float: left;
  padding:1rem;
  margin-top:1rem ;
  margin-right: 2rem;
  margin-bottom: 1rem;
}
.mecircle{ 
  width: 35%;
  float: left;
  margin-right: 2rem;
}
.vimeo{ 
  margin-left: auto;
  margin-right: auto;

}
a.bbcasestudy article img{  
width: 100%;
}


.gif{ 
  width:75%;
}
.homepageline{ 
  margin-top: 9rem;
}
.bblogo{ 
  max-width:60%;
}
a.bbcasestudy{ 
  width: 90%;
}
a.bbcasestudy article h3{ 
  font-size: 1rem;
}
.grid{ 
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(19rem,1fr));
  margin-left: auto;
  margin-right: auto;
}


.indexgrid{ 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
grid-template-rows: 1fr;
grid-gap: .5em;
width: 100%;
}
.twogrid{ 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-gap: .5em;
width: 100%;
}
.vogrid{ 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-gap: .5em;
  width: 100%;
  }
}

.newestarticle p{ 
  font-size: .8rem;
  text-align: center;
}
.newestarticle article{ 
width: 100%;
}

.recentprojects hr{ 
  margin-bottom: .5rem;
}


.embed{ 
  float: left;
  margin-right: 2rem;
}

@media screen and (min-width:48rem) {
  html { 
    font-size: 1.3rem;
  }
  .icon{ 
    max-width: 10%;
margin-left: 1rem;
  }
.mecircle{ 
width: 30%;
}
.bio{ 
  margin-top: 5rem;
  margin-bottom: 5rem;
}
  .grid{ 
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
}
}
